<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350.voice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayQuestion" android:label="@string/activity_newquestion"></activity>
        <activity android:name=".ProviderInformationActivity" android:label="@string/activity_providerinformation"></activity>
        <activity android:name=".ThankYouActivity" android:label="@string/activity_thankyou"></activity>
        <activity android:name=".QuestionActivity" android:label="@string/activity_questionactivity"></activity>
        <activity android:label="@string/activity_confirmationactivity" android:name=".ConfirmationActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>